<%- include("./components/header") %>
<%- include("./components/navbar") %>
    <section class="w-100 vh-100 d-flex justify-content-center align-items-center">
        <a href="/"><img class="d-block mx-auto mb-2" src="images/android-chrome-512x512.png" alt="stubby" width="102"
            height="87"></a>
        <h2 class="text-center"><%= meassage %></h2>
    </section>
<%- include("./components/footerNavbar") %>
<%- include("./components/footer") %>