<%- include("./components/header") %>
<%- include("./components/navbar") %>
    <section class="w-100 vh-100 d-flex justify-content-center align-items-center">
        <h2 class="text-center"><%= meassage %></h2>
    </section>
<%- include("./components/footerNavbar") %>
<%- include("./components/footer") %>